body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

section {
  padding: 40px;
}

section h2 {
  color: #333;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

footer ul {
  list-style: none;
}

footer ul li {
  display: inline;
  margin-right: 10px;
}

/* Estilos específicos para la sección de proyectos */
#proyectos {
  background-color: #f4f4f4;
}

/* Estilos específicos para la sección de habilidades */
#habilidades {
  background-color: #e0e0e0;
}

/* Estilos específicos para el formulario de contacto */
#contacto {
  background-color: #f9f9f9;
}

/* Estilos para el botón flotante de volver arriba */
#btnVolverArriba {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#btnVolverArriba.show {
  display: block;
}

#btnVolverArriba:hover {
  background-color: #0056b3;
}

/* Estilos para la sección de Experiencia Laboral */
#experiencia {
  padding: 40px;
  background-color: #f9f9f9;
}

/* Estilos para cada trabajo */
.trabajo {
  margin-bottom: 30px;
}

.trabajo h3 {
  color: #007bff;
  font-size: 24px;
  margin-bottom: 5px;
}

.trabajo .fecha {
  color: #555;
  font-size: 14px;
}

.trabajo .descripcion {
  line-height: 1.6;
  color: #333;
}

/* Diseño responsive para dispositivos móviles */
@media screen and (max-width: 768px) {
  header {
      padding: 15px;
  }
  
  nav ul li {
      display: block;
      margin-bottom: 15px;
  }
  
  section {
      padding: 30px;
  }
  
  .proyectos {
      background-color: #f4f4f4;
  }
  
  /* Ajusta los márgenes y espacios necesarios */
}

/* Media query para hacer el diseño responsive */
@media screen and (max-width: 600px) {
  header {
    padding: 10px;
  }

  nav ul li {
    display: block;
    margin-bottom: 10px;
  }

  section {
    padding: 20px;
  }
}
